@font-face{
    src: url(./fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-family: Source Sans Pro;
}
@font-face{
    src: url(./fonts/SourceSansPro-Light.ttf);
    font-weight: 300;
    font-family: Source Sans Pro light;
}
@font-face{
    src: url(./fonts/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
    font-family: Source Sans Pro semibold;
}
@font-face{
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-family: Poppins big;
}
@font-face{
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-family: Poppins med;
}